.cards {
  padding-top: 1em;
}

.navbar {
  border-bottom: 1px solid var(--gray);
  background-color: white;
}

.logo {
  height: 30px;
}

.navRight {
  margin-right: 2em;
}

.left {
  margin-left: 0.5em;
}

.right {
  margin-right: 0.1em;
}

.toolbar {
  border-top: 1px solid var(--gary) !important;
}
