.logo {
  margin: 10em auto 5em auto;
  display: block;
}

.btn {
  padding: 1.5em;
  margin: 10em 1em 1em;
}

.login {
  margin: auto;
  display: block;
  width: fit-content;
}

.btnLink {
  display: block;
  margin: 15em 1em 1em;
}
