/* Your app custom styles here */

:root {
  --blue: #0095f6;
  --light-blue: #b2dffc;
  --gray: #dbdbdb;
  --text: #8e8e8e;
  --pink: #d300c5;
  font-size: 15px;
}

.lang-btn {
  color: var(--text);
  border: none;
  cursor: pointer;
  margin: 1.5em auto;
  width: fit-content;
  display: block;
}

ul {
  list-style: none;
}
